<footer class="bg-light text-center text-lg-start border-top mt-5">
    <div class="container py-4">
        <div class="row">
            <!-- Social Media Links -->
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
                <a href="#" class="me-3 text-dark"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="#" class="me-3 text-dark"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="#" class="me-3 text-dark"><i class="fab fa-twitter fa-lg"></i></a>
            </div>

            <!-- Footer Links -->
            <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
                <a href="#" class="text-dark mx-2">Privacy</a>
                <a href="#" class="text-dark mx-2">Terms</a>
                <a href="#" class="text-dark mx-2">Sitemap</a>
                <a href="#" class="text-dark mx-2">Company</a>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center py-3 border-top">
        © 2025 Havenly. All Rights Reserved.
    </div>
</footer>
